/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 15 mar. 2023, 22:20:42
    Author     : User
*/

@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family:'Merriweather', serif;
    box-sizing: border-box;
}

body{
    background-image: url('../images/fondovete.jpg');
    background-size: cover;
}

.center{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-55%,-55%);
    width: 500px;
    padding: 10px 10px;
    border-radius: 10px;
    color: white;
    border-top: 5px solid border-box;


}
.center h1{
    margin: 0;
    height: 50px;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 1px solid;
    font-size: 20px;
}

.controls{
    width: 100%;
    margin-bottom: 40px;
    padding: 25px 20px;
    font-size: 15px;
    font-weight: bold;
}

.buttons{
    width: 100%;
    height: 50px;
    border: none;
    color: black;
    background: border-box;
    margin-bottom: 16px;
}
.login1{
    font-size: 35px;
    font-weight: bold;
    color: #0e376f;
    margin: 44%;
}