/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 14 mar 2023, 16:32:14
    Author     : Melissa Ruiz Cruz
*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family:'Merriweather', serif;
}
.tiendaFoto{
    float: right;
    margin-right: 10%;


}
h1{
margin-left: 2%;
color: rgb(56, 109, 255);

}
.descripcion{
    margin-left: 2%;
    align-items: center;
    width: 60%;
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 1px solid black;
    padding: 0.5em;
}
#encabezado{
    position: absolute;
    top:0;
    left: 0;
    height: 8%;
    width: 100%;
    background-color: #a0b9ff;
    color: white;
}
#encabezado h1{
    display: inline;
}

#menu{
    position: absolute;
    top:8%;
    left: 0;
    height: 4%;
    width: 100%;
    background-color: #a0b9ff;
    background-color: #B9EAF4;
    color: white;
}

#menu a{
    background-color: white;
}

#menu a:hover{
    background-color: black;
    color: #a0b9ff;
}

#barralateral{
    position: absolute;
    top:12%;
    left: 0;
    height: 81%;
    width: 20%;
    background-color: #a0b9ff;
    color: white;
    padding: 5px;
}

#contenido{
    position: absolute;
    top:12%;
    left: 20%;
    height: 81%;
    width: 80%;
    background-color: white;
    padding: 10px;
    overflow: auto;
}


.icon {
    width:100px;
    height:100px;
    margin-left: 20%;
}

.feli{
    width: 400px;
    height: 300px;
    margin-left: 100%;
    margin-top:  0%;
    display: absolute;
}



.titular::after {
  content: "";
  clear: both;
  display: table;
}

.icon-cart{
    position: relative;
    width: 40px;
    height: 40px;
    float: right;
    stroke: #000;
    
}

.icon-cart:hover{
    cursor: pointer;
}

img{
    max-width: 100%;
}

/* Header */
header{
    display: flex;
    justify-content: space-between;
    padding: 30px 0 40px 0;
}

.container-icon{
    margin-right: 2%;

}

.count-products{
    position: absolute;
    right: 24px;
    background-color: #000000;
    color: #fff;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#contador-productos{
    font-size: 12px;
}

.container-cart-products{
    position: absolute;
    background-color: #f8f8f8;
    top: 65%;
    right: 80px;
    width: 350px;
    height: 240px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    
}

.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;   
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);

}

.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
}

.icon-close{
    width: 25px;
    height: 25px;
}

.icon-close:hover{
    stroke: red;
    cursor: pointer;
}

.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}

.total-pagar{
    font-size: 20px;
    font-weight: 900;
}

.hidden-cart{
    display: none;
}



/* Main Items */
.container-items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    float: right;
    margin-right: 25px;
    
}


.item{
    /* border: 0.2px solid black; */
    border-radius: 10px;
    margin-top:30px;
    margin-right: 2%;
    margin: 5px;
    width: 300px;
    height: 470px;
}
.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 20);
}

.item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}
.item figure{
    overflow: hidden;

}

.item:hover img{
    transform: scale(1.2);
}

.info-product{
    padding-left: 5%;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price{
    font-size: 16px;
    font-weight: 900;
}

.info-product button{
    position: relative;
    left: 10px;
    bottom: 10px;
    width: 250px;
    height: 40px;
    border: none;
    background-color: #000;
    color: #fff;
    padding-left: 15px ;
    cursor: pointer;
}

.cart-empty{
    padding: 20px;
    text-align: center;
}


.hidden{
    display: none;
}
